@{
    ViewData["Title"] = "Categories";
}

<section class="catagory_section layout_padding">
    <div class="catagory_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Books Categories
          </h2>
          <p>
            It is said that people who do not read, have not found their type of category yet. So, we made sure by summarising every category, to find what you fancy reading.
          </p>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="~/images/cat1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                    <a asp-controller="Books" asp-action="All">
                        Romance
                    </a>
                </h5>
                <p>
                  Love has saved the world multiple times, but today is going to be yours. Dive into the bitter-sweet emotion and forget about any negativity now.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="~/images/cat2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Fiction
                </h5>
                <p>
                  Life is great, but we all have our dream fantasies... Like marrying your favourite boyband member, continue reading about your favourite character or ship? Fiction has it all.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="~/images/cat3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Historical
                </h5>
                <p>
                  For all the history lovers, who are fascinated by people and environments from the past. You are able not only enjoy yourself, but also learn something new. 
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="~/images/cat4.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Short Story
                </h5>
                <p>
                  Not a novel reader? With our short stories categoty, you are able to read, but not tire yourself out in engaging.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="~/images/cat5.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Adventure
                </h5>
                <p>
                  A perfect combination of real life, romance, ficton, even history sometimes. Learn to live your life to the fullest.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="~/images/cat6.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Fantasy
                </h5>
                <p>
                  Have you thought that the world we live is boring. Ever wanted to fly, have magic or be a hero. Welcome to the place where everything is possible.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>