@model IEnumerable<QuoteServiceModel>

@{
    ViewData["Title"] = "Quotes";
}

<section class="client_section layout_padding">
    <div class="container ">
      <div class="heading_container heading_center">
        <h2>
            All Quotes
        </h2>
        <hr>
      </div>

        @if (!Model.Any())
        {
            <div>
                <h4 class="text-center">There are no quotes available.</h4>
            </div>
            
        }

        
        
      <div class="row">
          @foreach(var quote in Model)
          {
                <div class="col-md-6 mx-auto">
                    <div class="client_container ">
                        <div class="detail-box">
                            <p>
                                @quote.Text
                            </p>
                            <span>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="client_id">
                            <div class="img-box">
                                <img src="@quote.BookImage" alt="Book image">
                            </div>
                            <div class="client_name">
                                <h5>
                                    Title: @quote.BookTitle
                                </h5>
                                <h6>
                                    Author: @quote.BookAuthor
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                
          }
            
      </div>
        
    </div>
  </section>
