@{
    ViewData["Title"] = "Home Page";
}

    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h5>
                      Welcome to Booktopia!
                    </h5>
                    <h1>
                      The world's most loved <br>
                      storytelling platform
                    </h1>
                    <p>
                      Booktopia connects a global community of 90 million readers and writers through the power of story.
                    </p>
                    <a href="">
                      Start Reading
                    </a>
                    <a href="">
                      Start Writing
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="~/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h5>
                      About Booktopia
                    </h5>
                    <h1>
                      Your original story <br>
                      could be the next <br> big hit
                    </h1>
                    <p>
                      Booktopia Studios discovers untapped, unsigned and talented writers on Booktopia and connects them to global multi-media entertainment companies.
                    </p>
                    <a href="">
                      Learn more
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="~/images/about-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h5>
                      A wide range of stories
                    </h5>
                    <h1>
                      For all your <br>
                      reading needs
                    </h1>
                    <p>
                     There is always something for everyone in our Categories section - from a classic romance to adventure or fantasy. Not only read, but share your opinion via writing reviews, because your voice belongs to the bookshelves. Booktopia aspires to recognise and reflect diverse voices by taking Booktopia strories to published books and onto boolshelves around the world.
                    </p>
                    <a href="">
                      Check Categories
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="~/images/contact-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn_box">
          <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
  

